.bloque_8 {
    position: relative;
    width: 100%;
}

.bloque_8 .swiper {
    width: 100%;
    overflow: hidden;
    height: auto !important;
}

.bloque_8 .swiper-wrapper,
.bloque_8 .swiper-slide {
    height: auto !important;
}

.bloque_8 .swiper-wrapper {
    display: flex;
    align-items: stretch;
    padding: 0;
    margin: 0;
}

.bloque_8 .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.bloque_8 .testimonio_card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    height: auto;
    transition: transform 0.3s ease;
}

.bloque_8 .testimonio_card:hover {
    transform: translateY(-5px);
}

.bloque_8 .testimonio_foto img {
    object-fit: cover;
    display: block;
    margin: 0 auto 15px auto;
    max-width: 450px;
    border-radius: 15px;
}

.bloque_8 .testimonio_datos {
    text-align: left;
    max-width: 800px;
}

.bloque_8 .contenedor_opinion {
    background-color: var(--color-verde);
    padding: 40px;
    border-radius: 20px;
    color: var(--color-blanco);
    position: relative;
    margin-bottom: 40px;
}

.bloque_8 .contenedor_opinion::after {
    content: "";
    position: absolute;
    bottom: -25px;
    left: 40px;
    width: 0;
    height: 0;
    border-left: 25px solid var(--color-verde);
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    transform: rotate(0deg);
    border-radius: 6px;
}

.bloque_8 .testimonio_datos .icono_comilla {
    font-size: 90px;
    line-height: 0.5;
    color: var(--color-amarillo);
    font-weight: bold;
    display: block;
}

.bloque_8 .testimonio_comentario {
    font-size: 18px;
    line-height: 1.6;
    margin: 0;
    color: var(--color-blanco);
}

.bloque_8 .testimonio_nombre {
    font-size: 30px;
    font-weight: 600;
    line-height: 1.3;
    margin: 0;
}

.bloque_8 .testimonio_cargo {
    font-size: 14px;
    color: #666;
    margin: 0;
}

@media (max-width: 768px) {
    .bloque_8 .testimonio_foto img {
        max-width: 350px;
    }

    .bloque_8 .testimonio_card {
        grid-template-columns: 1fr;
        text-align: center;
        gap: 20px;
    }

    .bloque_8 .testimonio_datos blockquote {
        margin-top: 20px;
        font-size: 80px;
    }

    .bloque_8 .testimonio_comentario {
        font-size: 18px;
    }

    .bloque_8 .swiper-wrapper {
        max-height: none;
    }
}
