.bloque_11 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin: 0px auto 0;
}

.bloque_11 .card {
    border-radius: 14px;
    box-shadow: var(--sombra);
    border: var(--borde-card);
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding: 20px;
    background-color:  var(--color-blanco);
}

.bloque_11 .card:hover {
    transform: translateY(-5px);
}

.bloque_11 .card h3 {
    margin-top: 10px;
    margin-bottom: 15px;
}

.bloque_11 .card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    margin-bottom: 12px;
}

@media (max-width: 1024px) {
    .bloque_11 {
        grid-template-columns: repeat(2, 1fr);
    }
}
