.r_fila {
    display: flex;
    flex-wrap: wrap;
    margin-right: calc(-0.5 * 30px);
    margin-left: calc(-0.5 * 30px);
}

.r_fila>* {
    width: 100%;
    max-width: 100%;
    padding-right: calc(30px * 0.5);
    padding-left: calc(30px * 0.5);
}

.r_columna_12 {
    width: 100%;
}

.r_columna_8 {
    width: 66.66666667%;
}

.r_columna_6 {
    width: 50%;
}

.r_columna_4 {
    width: 33.33333333%;
}

.r_columna_3 {
    width: 25%;
}

@media (max-width: 768px) {

    .r_columna_8 {
        width: 100%;
    }

    .r_columna_6 {
        width: 100%;
    }

    .r_columna_4 {
        width: 100%;
    }

    .r_columna_3 {
        width: 100%;
    }
}