.partials_confia {
    position: relative;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 650px;
}

.partials_confia .imagen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    filter: brightness(0.8);
    object-position: 78% 33%;
}

.partials_confia .cuerpo {
    z-index: 1;
    width: 100%;
}

.partials_confia .contenedor_contacto {
    display: flex;
    justify-content: flex-end;
}

.partials_confia .contenedor_card {
    max-width: 550px;
    width: 550px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 40px;
    box-sizing: border-box;
    border: var(--borde-card);
    border-radius: 10px;
    background-color: var(--color-blanco);
    box-shadow: var(--sombra);
    transition: transform 0.3s ease;
    gap: 20px;
}

.partials_confia .contenedor_card img{
    width: 100px;
}

.partials_confia .confia_grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.partials_confia .confia_grid_item{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

@media (max-width: 768px) {

    .partials_confia {
        height: 750px;
    }

    .partials_confia .contenedor_contacto {
        display: flex;
        justify-content: center;
    }

    .partials_confia .imagen {
        object-position: right center;
    }

    .partials_confia .contenedor_card {
        max-width: 400px;
        width: 350px;
        padding: 20px;

    }
    
}