.partials_formulario_imagen {
    position: relative;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 550px;
}

.partials_formulario_imagen .imagen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    filter: brightness(0.8);
    object-position: 78% 33%;
}

.partials_formulario_imagen .cuerpo {
    z-index: 1;
    width: 100%;
}

.partials_formulario_imagen .contenedor_contacto {
    display: flex;
    justify-content: flex-end;
}

.partials_formulario_imagen .contenedor_formulario {
    max-width: 350px;
}

@media (max-width: 768px) {

    .partials_formulario_imagen .contenedor_contacto {
        display: flex;
        justify-content: center;
    }

    .partials_formulario_imagen .imagen {
        object-position: right center;
    }
}