.partials_contenedor_slider_galeria {
    position: relative;
    width: 100%;
}

/* SLIDER */
.partials_contenedor_slider_galeria .swiper {
    width: 100%;
    overflow: hidden;
}

.partials_contenedor_slider_galeria .swiper-wrapper {
    display: flex;
    padding: 20px 0px;
}

.partials_contenedor_slider_galeria .swiper-slide {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: stretch;
    box-sizing: border-box;
}

/* CARD PRINCIPAL */
.partials_contenedor_slider_galeria .post_imagen_contenedor {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;
    border: var(--borde-card);
    overflow: hidden;
    transition: transform 0.3s ease;
}

.partials_contenedor_slider_galeria .post_imagen_contenedor:hover {
    transform: translateY(-4px);
}

/* Imagen con altura fija y que ocupe todo el ancho */
.partials_contenedor_slider_galeria .post_imagen_contenedor img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    flex-shrink: 0;
}

@media (max-width: 768px) {
    .partials_contenedor_slider_galeria .swiper-slide {
        width: 50%;
    }
}

@media (max-width: 500px) {
    .partials_contenedor_slider_galeria .swiper-slide {
        width: 80%;
    }
}