.header_layout_pagina {
    position: fixed;
    top: 0;
    width: -webkit-fill-available;
    background: var(--color-blanco);
    box-shadow: var(--sombra);
    z-index: 9;
    padding: 0 15px;
    height: var(--alto-header-admin);
    display: flex;
    align-items: center;
    gap: 10px;
    border-bottom: var(--borde-card);
    justify-content: flex-end;
}

.header_layout_pagina .contenedor_profile {
    position: relative;
    display: flex;
    align-items: center;
    gap: 5px;
}

.header_layout_pagina .contenedor_profile .contenedor_texto {
    text-align: end;
}

.header_layout_pagina .contenedor_profile .contenedor_texto p {
    font-size: 15px;
    font-weight: 600;
}

.header_layout_pagina .contenedor_profile .contenedor_texto span {
    font-size: 13px;
}

.header_layout_pagina .contenedor_profile img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.layout_menu_hamburguesa_celular {
    display: none;
    cursor: pointer;
}

.header_layout_pagina .contenedor_profile .dropdown_profile {
    position: absolute;
    top: 60px;
    right: 0;
    background: var(--color-blanco);
    border: var(--borde-card);
    box-shadow: var(--sombra);
    border-radius: 6px;
    min-width: 160px;
    z-index: 20;
}

.header_layout_pagina .contenedor_profile .dropdown_item {
    width: 100%;
    padding: 10px 15px;
    background: none;
    border: none;
    text-align: left;
    cursor: pointer;
    display: flex;
    gap: 8px;
    align-items: center;
}

.header_layout_pagina .contenedor_profile .dropdown_item:hover {
    background-color: #f5f5f5;
}

@media (max-width: 768px) {
    .header_layout_pagina {
        justify-content: space-between;
    }

    .layout_menu_hamburguesa_celular {
        display: block;
    }
}
