.r_panel {
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: var(--color-blanco);
    gap: 15px;
    border-radius: 12px;
    box-shadow: 0 2px 2px rgba(29, 29, 29, .1);
}

.r_titulo_panel {
    color: var(--color-texto-secundario);
    font-size: 22px;
    font-weight: 500;
}
