.cliente_menu_pricipal {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--color-blanco);
    border-radius: 12px;
    box-shadow: 0 2px 2px rgba(29, 29, 29, .1);
}

.cliente_menu_pricipal a,
.cliente_menu_pricipal button {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 16px;
    border-bottom: 1px solid #f5f5f5;
    padding: 18px 20px;
    cursor: pointer;
}

.cliente_menu_pricipal a:last-child,
.cliente_menu_pricipal button:last-child  {
    border-bottom: none;
}

.cliente_menu_pricipal a span,
.cliente_menu_pricipal button span {
    display: flex;
    align-items: center;
    gap: 10px;
}

.cliente_menu_pricipal a span i {
    font-size: 20px;
}

.cliente_menu_pricipal form {
    width: 100%;
}

.cliente_menu_pricipal a.active {
    background-color: #f0f0f0;
    font-weight: bold;
    color: #333;
}

.cliente_menu_pricipal a.active i {
    color: #333;
}

@media (min-width: 850px) {
    .mostrar_menu_cliente{
        display: none;
    }
}