/* ALERTAS GENERALES */
.g_alerta_succes,
.g_alerta_info,
.g_alerta_error {
    padding: 12px 16px;
    border-radius: 6px;
    margin-bottom: 16px;
    font-size: 15px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 8px;
    box-shadow: 0 2px 2px rgba(29, 29, 29, .1);
}

/* ÉXITO */
.g_alerta_succes {
    background-color: var(--color-blanco);
    border: 1px solid var(--color-verde);
    color: var(--color-verde);
}

/* ERROR */
.g_alerta_error {
    background-color: var(--color-blanco);
    border: 1px solid var(--color-error);
    color: var(--color-error);
}

.g_alerta_info {
    background-color: var(--color-blanco);
    border: 1px solid var(--color-info);
    color: var(--color-info);
}

/* ÍCONO OPCIONAL (si usas fontawesome) */
.g_alerta_succes i,
.g_alerta_error i {
    font-size: 18px;
}
