.g_centrar_pagina {
    margin: 0 auto;
    max-width: var(--ancho-centrar-pagina);
    width: 100%;
}

.g_centrar_elemento {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.g_pading_pagina {
    padding: 20px;
}

.g_gap_pagina {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.g_margin_top_40 {
    margin-top: 40px;
}

.g_margin_bottom_40 {
    margin-bottom: 40px;
}

.g_margin_top_20 {
    margin-top: 20px;
}

.g_margin_bottom_20 {
    margin-bottom: 20px;
}

.g_margin_bottom_10 {
    margin-bottom: 10px;
}

.g_contenedor_columna {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.g_fondo_blanco {
    background: var(--color-blanco);
}

.g_fondo_verde {
    background: var(--color-verde);
}

@media (max-width: 768px) {
    .g_pading_pagina {
        padding: 10px;
    }

    .g_gap_pagina {
        gap: 10px;
    }

    .g_margin_top_40 {
        margin-top: 20px;
    }

    .g_margin_bottom_40 {
        margin-bottom: 20px;
    }

    .g_margin_top_20 {
        margin-top: 10px;
    }

    .g_margin_bottom_20 {
        margin-bottom: 10px;
    }

    .g_margin_bottom_10 {
        margin-bottom: 5px;
    }
}
